/**  
* Updater page
**/
.aspro-update__progress-download__bar-inner {
  height: 8px;
  background-color: #2196e0;
}
.aspro-update__progress-download__bar {
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: transparent;
}
.aspro-update__progress-download {
  padding-top: 20px;
}
.aspro-update__progress-download__title {
  margin-bottom: 16px;
}
.aspro-update__admin-waiter {
  background:rgba(0, 0, 0, 0) url("../../../images/aspro/popup/waiter.gif") no-repeat scroll 0 0 / 100% auto;
  content:" ";
  display:block;
  height:37px;
  width:35px;
}
.aspro-update__download-wrap__title {
  padding-bottom: 16px;
}

/**  
* Updater description popup
**/
.aspro-update__description-popup.bx-core-adm-dialog .bx-core-adm-dialog-content {
  background: #fff;
  border: none;
  padding-right: 32px;
}
.aspro-update__version-info {
  padding-top: 40px;
}
.bx-core-adm-dialog .aspro-update__version-info__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
}
.aspro-update__description-popup.bx-core-adm-dialog .bx-core-adm-dialog-content-wrap {
  padding: 0 0 14px 32px;
}
.aspro-update__description-popup.bx-core-adm-dialog .bx-core-adm-dialog-content-wrap-inner {
  padding: 0;
}
.aspro-update__version-info ul {
  margin-bottom: 20px;
  padding-left: 20px;
}
.aspro-update__version-info ul li {
  margin-bottom: 4px;
}
.aspro-update__version-info ul li:last-child {
  margin-bottom: 0;
}
.aspro-update__description-popup.bx-core-adm-dialog .bx-core-adm-dialog-buttons {
  padding-top: 0;
}
.aspro-update__backup-alert {
  display: block;
  background: #F5F9FA;
  border: 1px solid #E1E6E9;
  border-radius: 3px;
  padding: 12px;
}
.aspro-update__description-error {
  background: rgba(223,126,148,.3);
  padding: 12px;
  border-radius: 3px;
  margin-top: 16px;
}
.aspro-update__description {
  margin-top: 16px;
}
.aspro-update__info {
  margin-bottom: 28px;
}

/**  
* Updater scrollbar
**/
.aspro-update__scrollblock {
  overflow: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  scrollbar-width: thin;
}
.aspro-update__scrollblock::-webkit-scrollbar {
  width: 8px;
}
.aspro-update__scrollblock::-webkit-scrollbar-track {
  border-radius: 8px;
}
.aspro-update__scrollblock::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #999;
  border: 2px solid #fff;
}
.aspro-update__scrollblock::-webkit-scrollbar-thumb:window-inactive {
  background: #999;
  border: 2px solid #fff;
}
