.top-block .social-icons li {
  margin: 0;
}
.top-block .social-icons li a {
  align-items: center;
  background: none;
  display: flex;
  height: 32px;
  justify-content: center;
  line-height: 50px;
  margin: 0;
  min-width: 0;
  padding: 0px;
  position: relative;
  text-align: center;
  width: 44px;
}
.top-block .social-icons li a .svg {
  left: -2px;
  top: -2px;
}
.top-block .social-icons li.facebook a .svg,
.top-block .social-icons li.twitter a .svg {
  left: -1px;
}
.top-block .social-icons li.instagram a .svg,
.top-block .social-icons li.vk a .svg,
.top-block .social-icons li.ytb a .svg {
  top: -1px;
}

.social-icons__list {
  margin: 0;
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
  position: relative;
  left: -1px;
  height: 32px;
}

.social-icons__list-item {
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  white-space: normal;
}
.social-icons__list-item--more span {
  display: inline-block;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  height: 32px;
  width: 32px;
  color: #777777;
}

/* dropdown */
.social-icons:hover .dropdown {
  z-index: 1;
}
.social-icons:hover .social-icons__list {
  overflow: visible;
}
.social-icons__list-item .dropdown {
  margin: 0;
  padding: 0;
  margin: 0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  background-color: var(--black_bg_black);
}
.social-icons__list-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
}
.social-icons__list-item .dropdown .social-icons__list-item a .svg {
  top: unset;
  left: unset;
}
.social-icons__list-item .dropdown a {
  font-size: 0;
}
