/* ADMIN MENU */
#global_menu_global_menu_aspro .adm-main-menu-item-icon {
  height: 48px;
  background: rgba(0, 0, 0, 0) url("../../../images/aspro/sku/global.png")
    no-repeat scroll 21px 12px;
  opacity: 1;
}
#global_menu_global_menu_aspro.adm-main-menu-item-active
  .adm-main-menu-item-icon,
#global_menu_global_menu_aspro:hover .adm-main-menu-item-icon {
  background: rgba(0, 0, 0, 0)
    url("../../../images/aspro/sku/global_active.png") no-repeat scroll 21px
    12px;
}
#global_menu_global_menu_aspro .adm-main-menu-item-text {
  line-height: 11px;
}
#_global_menu_aspro_items .imi-sku {
  background: rgba(0, 0, 0, 0)
    url("../../../images/aspro/sku/menu.png?ver=1.0.0") no-repeat scroll 0 0;
}
#_global_menu_aspro_items .imi-sku--root {
  background-position: 8px 5px;
}
