.box-sizing--border-box * {
  box-sizing: border-box;
}

.aspro-sku__multi-form-detail textarea {
  resize: vertical;
  width: 100% !important;
}

.aspro-sku__multi-form-detail select.ui-ctl-element {
  padding-left: 11px;
}

.aspro-sku__multi-form-detail input[type="text"].aspro-autocomplete {
  margin-bottom: 2px;
  display: block;
}

.aspro-tab-hint {
  padding: 0 !important;
}
.aspro-tab-hint .ui-alert {
  margin: 0;
}

.aspro-ms-icon {
  display: none;
  opacity: 0.5;
}
.bx-mac .aspro-ms-icon,
.bx-win .aspro-ms-icon,
.bx-linux .aspro-ms-icon {
  display: block;
}
.aspro-ms-icon .icon--cmd {
  display: none;
}
.bx-mac .aspro-ms-icon .icon--ctrl {
  display: none;
}
.bx-mac .aspro-ms-icon .icon--cmd {
  display: inline;
}
