.location-container * {
    box-sizing: border-box;
}
.location-container {
    width: 400px;
    position: relative;
}
.location-text{
    position: relative;
}
.location-text__input {
    box-sizing: border-box;
    width: 100%;
}
.location-text__clear {
    background-color: transparent;
    background-image: url('../../panel/main/images/popup_sprite.png');
    background-position: -5px -32px;
    background-repeat: no-repeat;
    border: none;
    bottom: 0;
    box-shadow: none;
    cursor: pointer;
    display: block;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 0;
}
.location-results {
    border-radius: 4px;
    box-shadow: 0 0 3px #000;
    margin-top: 5px; 
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute; 
    visibility: hidden;
    width: 100%;
    z-index: 1;
}
.location-results.ontop {
    bottom: calc(100% + 5px);
}
.location-results.show {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}
.results__table {
    max-height: 294px;
    overflow-y: auto;
}
.location-results__item-cell {
    background-color: #FFF;
    display: block;
    padding: 10px;
    cursor: pointer;
}
.location-results__item:nth-child(2n+1) .location-results__item-cell {
    background-color: #f5f9f9;
}
.location-results__item .location-results__item-cell:hover,
.location-results__item-input:checked + .location-results__item-cell {
    background-color: #e0e9ec;
}
.location-results__item-input {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: -1;
}
.location-results__item-cell .location-results__item--muted {
    color: gray;
    font-size: 11px;
}
.location-results.hidden,
.location-text__clear.hidden {
    display: none;
}